spring:
  application:
    name: mcp-server
  ai:
    mcp:
      server:
        name: webflux-mcp-server
        version: 1.0.0
        type: ASYNC
        instructions: "接口文档及规范"
        base-url: http://localhost.charlesproxy.com:8080

